* {
    margin: 0;
    padding: 0;
}


body{
    text-align: center;
    font-family: verdana;
}

@media only screen and (min-width: 1025px) {

    .introducao {
        background-color: #b0ddfc;
        max-height: 500px;
        padding-bottom: 50px;
    }

    .logo {
        width: 20%;
    }

    .link-top {
        font-size: 18px;
        margin: 10px;
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    .banner {
        width: 90vw;
        margin: 50px auto;
    }

    .sobre {
        margin: 50px auto;
    }

    h1 {
        font-size: 40px;
    }

    h2{
        font-size: 28px;
        font-weight: normal;
        color: #1d80c1;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .assinatura {
        width: 30%;
        margin: 20px auto;
    }

    p {
        text-align: justify;
        width: 60%;
        margin: auto;
        line-height: 27px;
        font-size: 18px;
        margin: 20px auto;
    }
    
    .azul {
        color: #1d80c1;
    }

    .servicos {
        background-color: #1d80c1;
        padding: 50px 10px;
    }

    .branco {
        color: white;
    }

    .para-serv {
        text-align: justify;
        width: 60vw;
    }

    .amarelo {
        color: #edfb89;
    }

    .lista {
        margin: auto;
        width: 100px;
        color: white;
    }

    .lista li {
        margin: 10px;
    }

    .corretores {
        margin: 50px auto;
    }

    .corretores-img {
        width: 30%;
    }
    
    .contato {
        background-color: #1d80c1;
        padding-top: 20PX;
        padding-bottom: 20px;
    }

    iframe {
        width: 40%;
        height: 300px;
        margin: 10px;
    }

    .para-cont {
        background-color: #333333;
        padding: 10px;
    }
    
    .link-baixo {
        background-color: white;
        color: #1d80c1;
        border-radius: 3px;
        padding: 2px;
    }

    .ul-cont li {
        padding: 10px;
    }

    footer {
        background-color: #b0ddfc; 
        border: #b0ddfc solid;
    }

    footer p {
        color: #333333;
        text-align: center;
    }

    footer span {
        color: #1d80c1;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {

    .introducao {
        background-color: #b0ddfc;
        max-height: 500px;
        padding-bottom: 50px;
    }

    .logo {
        width: 20%;
    }

    .link-top {
        font-size: 18px;
        margin: 10px;
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    .banner {
        width: 90vw;
        margin: 50px auto;
    }

    .sobre {
        margin: 50px auto;
    }

    h1 {
        font-size: 40px;
    }

    h2{
        font-size: 28px;
        font-weight: normal;
        color: #1d80c1;
    }

    h3 {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .assinatura {
        width: 30%;
        margin: 20px auto;
    }

    p {
        text-align: justify;
        width: 60%;
        margin: auto;
        line-height: 27px;
        font-size: 18px;
        margin: 20px auto;
    }
    
    .azul {
        color: #1d80c1;
    }

    .servicos {
        background-color: #1d80c1;
        padding: 50px 10px;
    }

    .branco {
        color: white;
    }

    .para-serv {
        text-align: justify;
        width: 60vw;
    }

    .amarelo {
        color: #edfb89;
    }

    .lista {
        margin: auto;
        width: 100px;
        color: white;
    }

    .lista li {
        margin: 10px;
    }

    .corretores {
        margin: 50px auto;
    }

    .corretores-img {
        width: 30%;
    }
    
    .contato {
        background-color: #1d80c1;
        padding-top: 20PX;
        padding-bottom: 20px;
    }

    iframe {
        width: 40%;
        height: 300px;
        margin: 10px;
    }

    .para-cont {
        background-color: #333333;
        padding: 10px;
    }
    
    .link-baixo {
        background-color: white;
        color: #1d80c1;
        border-radius: 3px;
        padding: 2px;
    }

    .ul-cont li {
        padding: 10px;
    }

    footer {
        background-color: #b0ddfc; 
        border: #b0ddfc solid;
    }

    footer p {
        color: #333333;
        text-align: center;
    }

    footer span {
        color: #1d80c1;
    }
}

@media only screen and (max-width: 480px) {

    .introducao {
        background-color: #b0ddfc;
        max-height: 500px;
        display: flex;
        justify-content: space-around;
    }

    .links {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo {
        width: 20%;
    }

    .logo img {
        width: 100%;
        height: auto;
    }

    .link-top {
        font-size: 9px;
        margin: 2px;
        color: black;
        font-weight: bold;
        text-decoration: none;
    }

    .banner {
        width: 95vw;
        margin: 10px auto;
    }

    .sobre {
        margin: 10px auto;
    }

    h1 {
        font-size: 20px;
    }

    h2{
        font-size: 13px;
        font-weight: normal;
        color: #1d80c1;
    }

    h3 {
        font-size: 10px;
        margin-bottom: 20px;
    }

    .assinatura {
        width: 80%;
        margin: 20px auto;
    }

    p {
        text-align: justify;
        width: 60%;
        margin: auto;
        line-height: 27px;
        font-size: 9px;
        margin: 20px auto;
    }
    
    .azul {
        color: #1d80c1;
    }

    .servicos {
        background-color: #1d80c1;
        padding: 50px 10px;
    }

    .branco {
        color: white;
    }

    .para-serv {
        text-align: justify;
        width: 60vw;
    }

    .amarelo {
        color: #edfb89;
    }

    .lista {
        margin: auto;
        width: 100px;
        color: white;
    }

    .lista li {
        margin: 10px;
        font-size: 9px;
    }

    .corretores {
        margin: 50px auto;
    }

    .corretores-img {
        width: 80%;
    }
    
    .contato {
        background-color: #1d80c1;
        padding-top: 20PX;
        padding-bottom: 20px;
    }

    iframe {
        width: 70%;
        height: 100px;
        margin: 10px;
    }

    .para-cont {
        background-color: #333333;
        padding: 10px;
    }
    
    .link-baixo {
        background-color: white;
        color: #1d80c1;
        border-radius: 3px;
        padding: 2px;
        font-size: 9px;
    }

    .ul-cont li {
        padding: 10px;
    }

    footer {
        background-color: #b0ddfc; 
        border: #b0ddfc solid;
    }

    footer p {
        color: #333333;
        text-align: center;
        font-size: 13px;
    }

    footer span {
        color: #1d80c1;
    }
}